<div class="row-fluid">
  <div class="span3">
    <a href="#/lessons">< All Lessons</a>
    <h2>{{ lesson.name }}</h2>
    
    <h3>Attachments</h3>
    <ol>
      <li ng-repeat="attachment in lesson.attachments"><a ng-click="setDoc(attachment.url)">{{ attachment.title }}</a></li>
    </ol>
    <button ng-click="newDoc()">+ Add...</button><!--TODO: Write newDoc()-->
    
    <h3>Actions</h3>
    <button ng-click="lesson.$save()">Save</button>
  </div>
  <div class="span9">
    <iframe ng-src="{{ mainDocUrl }}" style="width:100%;height:600px;"></iframe>
  </div>
</div>