<div class="container">
  <h2>Classes</h2>
  <table>
    <tr>
      <th>Class</th>
      <th>Random Student</th>
      <th>Batch-Add Students</th>
      <th>Delete Class</th>
    </tr>
    <tr ng-repeat="period in periods | orderBy:'name'">
      <td><a href="#/periods/{{ period.key }}">{{ period.name }}</a></td>
      <td><a class="btn" href="#/periods/{{ period.key }}/students/random"><i class="icon-random" /></a></</td>
      <td><a class="btn" href="#/periods/{{ period.key }}/students/batch"><i class="icon-plus" /></a></td>
      <td><a class="btn" ng-click="period.$remove();reloadPeriods()"><i class="icon-remove" /></a></td>
    </tr>
  </table>
  <a class="btn" href="#periods/new"><i class="icon-plus-sign" /> Add Period</a>
</div>